<div [hidden]="submitted" class="feedback-form">

    <h2><mat-icon>help</mat-icon> Feedback</h2> 
    <h3>Wat vind je goed? Wat kan beter? 
        Laat het me weten, jouw mening vind ik belangrijk!</h3>

    <form (ngSubmit)="onSubmit()" #feedbackForm="ngForm">
            
        <mat-label>Welke score (0 - 10) geeft u deze app?</mat-label>
        <mat-slider thumbLabel min="1" max="10" step="1" value="0"
            [(ngModel)]="model.rating" name="rating" ></mat-slider>
        
        <mat-form-field class="field-full-width">
            <textarea matInput placeholder="Suggesties, opmerkingen" 
            required 
            [(ngModel)]="model.comment" name="comment"></textarea>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Uw achtergrond</mat-label>
            <mat-select 
                [(ngModel)]="model.background" name="background">
                <mat-option *ngFor="let background of backgrounds" [value]="background.value">{{background.viewValue}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div [hidden]="otherBackground">
        <mat-form-field class="field-full-width">
            <input matInput placeholder="Wil u specifiëren" type="text"
                [(ngModel)]="model.otherBackground" name="otherBackground">
        </mat-form-field>
        </div>
            
        <mat-form-field class="field-full-width">
                <input matInput placeholder="Email" type="email"
                [(ngModel)]="model.email" name="email" >
        </mat-form-field>
    
        <button mat-button type="submit" color="primary" 
            [disabled]="!feedbackForm.form.valid">Verstuur</button> 

    </form>
</div>

<div [hidden]="!submitted">
    <h2>Hartelijk dank</h2>
    <p>Ik lees uw feedback zodat de app kan verbeteren.</p>
</div>
