.container {

}

.toolbar{
  display: flex;
  flex: 1 1 auto;
}

.back-button {
  
}

.arrow-card {
  float: right;
  padding: 35px 0;
  color: rgb(94, 88, 80)
}

.card-link {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}

.decision-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.decision-header {}

.decision-title {}

.decision-description {}

.viewport {}

cdk-virtual-scroll-viewport,
ul {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  li {
    height: 150px;
    background: whitesmoke;
    box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
  }
  &::-webkit-scrollbar {
    width: none
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(238, 169, 79);
  }
} 

@media(max-width: 500px) { 
  cdk-virtual-scroll-viewport,
    ul {
      min-height: 100vh;
      width: 100vw;
    } 
    .decision-header {}

    .mat-toolbar-single-row {
      padding: 0px;
    }

    .back-button {
        margin-left: 0px
    }

} 
