rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  // DONT DO THIS SERIOUSLY
    match /{document=**} {
      allow read, write: if true;
    }
  }
}