<agm-map [latitude]="(coordsMap | async)?.latitude"
         [longitude]="(coordsMap | async)?.longitude"
         (centerChange)="centerChange($event)"
         (idle)="idle()"
         [zoom]="17" [zoomControlOptions]="zoomControlOptions"
         [zoomControl]="true"
         [streetViewControl]="false"
         [usePanning]="true"
         [fullscreenControl]="false"
         [gestureHandling]="'greedy'">


  <agm-marker [latitude]="(coordsUser | async)?.latitude"
              [longitude]="(coordsUser | async)?.longitude"
              iconUrl="./assets/bluedot.png">

  </agm-marker>


  <agm-marker-cluster minimumClusterSize="5"
                      imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">

    <ng-container *ngIf="decisionLocations$ | async; let decisionLocations">
      <ng-container *ngFor="let location of decisionLocations; trackBy: trackByFn">

        <agm-marker [latitude]="location.point.geopoint._lat"
                    [longitude]="location.point.geopoint._long"
                    [openInfoWindow]="false"
                    (markerClick)="clickedMarker(location, decisionLocations)">

        </agm-marker>

      </ng-container>
    </ng-container>

  </agm-marker-cluster>

</agm-map> 


<button mat-fab class="fab"
        (click)="toggleWatch()">

  <i class="material-icons">
    {{(updating | async)? 'gps_fixed' : 'gps_off'}}
  </i>

</button>

<button mat-fab class="fab-non-geo"
        (click)="openNonGeoDecisionList($event)">
  <i class="mdc-fab__icon material-icons">
    list
  </i>
</button>

<!-- <div class="search-box">
    <app-search></app-search>
</div> -->

