<div class="container"> 

<ng-container *ngIf="infinite | async as decisions">

    <mat-accordion class="decisions-accordeon">
  
  <cdk-virtual-scroll-viewport itemSize="120" (scrolledIndexChange)="nextBatch($event, (decisions[decisions.length - 1].date))" class="viewport">
    

      <mat-expansion-panel *cdkVirtualFor="let d of decisions, let i = index; trackBy: trackByIdx" class="animated lightSpeedIn decision-expansion mat-elevation-z10">

              <mat-expansion-panel-header class="decision-header">

                <mat-panel-title class="decision-title">
                  {{d.title}}
                </mat-panel-title>
                
                <mat-panel-description class="decision-description">
                    {{ d.status | uppercase }} <br>
                    {{ d.date | date: 'dd/MM/yyyy'  }} <br>
                    {{d.groupName}} 
                </mat-panel-description>

              </mat-expansion-panel-header>
              
              <div *ngIf="d.financialStakeholders">
                  <h3>Belanghebbenden</h3>
                <p *ngFor="let stakeHolder of d.financialStakeholders">
                      {{stakeHolder.Name}}, {{stakeHolder.JuridicalForm}} <a href="https://openthebox.be/company/{{stakeHolder.VAT}}" target="_blank"> <mat-icon> scatter_plot</mat-icon> </a> {{stakeHolder.Amount}} €
                </p>
              </div>

              <div *ngIf="d.argumentation" [innerHTML]="d.argumentation"></div>
              
<!--               <div *ngIf="d.decision?.text">
                  <p>{{d.decision?.text}}</p>
              </div>
              
              <div *ngIf="d.decision?.headings">
                  <div *ngFor="let h of d.decision.headings">
                      <h3>{{h.name}}</h3>
                      <p>{{h.text}}</p>
                  </div>
              </div> -->

              <div *ngIf="d.addenda">
                  <h3>Bijlagen</h3>
                <p *ngFor="let addendum of d.addenda">
                    {{addendum}} <a href="mailto:besluitvorming.an@antwerpen.be?subject=Lezen besluiten&body=Goede Dag,%0D%0A%0D%0AIk wil deze bijlagen lezen, maar de link werkt helaas niet. Hoe kan ik het lezen?%0D%0A%0D%0A
                    {{addendum}} %0D%0A%0D%0A Besluit: {{d.offTitle}}%0D%0A%0D%0ADank u,">Vraag bijlage</a> 
                </p>
              </div>
        
              <div *ngIf="d.assocDocs">
                  <h3>Gerelateerde besluiten</h3>
                
                  <p *ngFor="let assocDoc of d.assocDocs">
                    {{assocDoc}}
                  </p>
              </div>

              <mat-action-row class="decision-actions">
                      
                  <div *ngIf="!d.published">

                    <a href="mailto:besluitvorming.an@antwerpen.be?subject=Lezen besluiten&body=Goede Dag,%0D%0A%0D%0AIk wil deze besluiten lezen, maar de link werkt helaas niet. Hoe kan ik het lezen?%0D%0A%0D%0ABesluit: {{d.offTitle}}%0D%0A%0D%0ADank u,">Vraag volledige tekst</a>

                  </div>
              
                  <div *ngIf="d.published">
                      <a href="https://ebesluit.antwerpen.be/publication/{{d.docId}}/download" target="_blank" button mat-button class="mat-raised-button">Volledige tekst</a>
                  </div>

              </mat-action-row>
            
      </mat-expansion-panel>

    

    <iframe style="margin: 0 auto; display: flex" *ngIf="theEnd" src="https://giphy.com/embed/lD76yTC5zxZPG" width="480"
    height="352" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

  </cdk-virtual-scroll-viewport>

</mat-accordion>

  

</ng-container>

</div>