<cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="listMoreDecisions($event)">

  <li *cdkVirtualFor="let decision of decisions">

    <mat-expansion-panel  class="decision-expansion mat-elevation-z10">

            <mat-expansion-panel-header>

              <mat-panel-title>
                {{decision.title}}
              </mat-panel-title>
              
              <mat-panel-description>
                  {{ decision.date.toDate() | date: 'shortDate'  }} {{decision.groupName}}
              </mat-panel-description>

            </mat-expansion-panel-header>
          
            <p>{{decision.decision}}</p>

            <mat-action-row class="decision-actions">
                    
                    <div *ngIf="!decision.published">

                    <a button mat-button class="mat-raised-button mat-primary">
                        Vraag volledige tekst
                    </a>
                  </div>
                
                    <a href="https://ebesluit.antwerpen.be/publication/{{decision.docId}}/download" button mat-button class="mat-raised-button">
                        Volledige tekst
                    </a>

            </mat-action-row>
          
    </mat-expansion-panel>

  </li>

</cdk-virtual-scroll-viewport>