.container {
  display: flex;
  justify-content: center;
}
.decisions-accordeon {
  
}


.decision-expansion {
  margin-top: 15px;
  margin-bottom: 15px;
}


.decision-header{
  padding: 30px;
}

.decision-title {
  width: 100%;
  font-weight: 800;
  margin-right: 10px;
}

.decision-description {

}

.decision-actions {
    text-align: right;
}

.viewport {
}

cdk-virtual-scroll-viewport,
ul {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  li {
    height: 150px;
    background: whitesmoke;
    box-shadow: 2px 2px 3px rgba($color: #888888, $alpha: 0.2);
  }
  &::-webkit-scrollbar {
    width: none
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(238, 169, 79);
  }
} 


@media(max-width: 500px) { 
  cdk-virtual-scroll-viewport,
    ul {
      min-height: 100vh;
      width: 100vw;
    } 
    .decision-header{
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 15px;
    }
} 
