/* You can add global styles to this file, and also import other style files */
// @import "modal"; OBSOLTE
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.mat-dialog-container{
  background-color: #f9fffb;
  padding: 0px;
  opacity: 0.90;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

agm-map {
  height: 100vh;
  width: 100vw;
}


.fab {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
  border: none;
  color: black;
  background-color: #ffab40;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 16px 0;
  margin: auto;
  box-shadow: 2px 3px 3px 0 rgba(41, 41, 41, .3);
}

.fab:focus {
  outline: none;
}

.fab-non-geo {
  position: fixed !important;
  left: 16px;
  bottom: 16px;
}

.search-box {
  position: fixed !important;
  left: 16px;
  top: 16px;
}

@media(max-width: 500px) {
  .mat-expansion-panel-body {
    padding: 0 10px 16px !important;
  }
  .mat-dialog-container {
    padding: 24px 10px 24px !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  margin: 0 auto;
}
