

<ng-container *ngIf="decisionLocation?.id">

    <div class="container">

    <button mat-button mat-dialog-close (click)="closeModal()" aria-label="close-button" class="close-button">
        <i class="material-icons">
                close </i></button> 

  <h1 mat-dialog-title>

    <ng-container *ngIf="decisionsInThisLocation$ | async; let decisionsInThisLocation">
      <button mat-icon-button
              *ngIf="decisionsInThisLocation?.length > 1"
              [matMenuTriggerFor]="otherDecisions"
              [matMenuTriggerData]="{decisions: decisionsInThisLocation}">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </ng-container>
  
    {{decision?.title | uppercase}}</h1>

   <p>item json pipe: {{decision | json}}</p>

    <app-street-view [position]="{lat: decisionLocation.point.geopoint._lat, lng: decisionLocation.point.geopoint._long}"></app-street-view>

    <ng-container *ngIf="decision">
      
      <p style="text-align: right;">
        {{ decision.status | uppercase }} op {{decision.date | date: 'dd/MM/yyyy'}} <br>
        {{ decision.groupName }}<br>
        
        <a class="mat-raised-button"
           *ngIf="decision.published"
           target="_blank"
           href="https://ebesluit.antwerpen.be/publication/{{decision.docId}}/download" button mat-button>
          Volledige tekst </a>

          <a
          *ngIf="!decision.published"
          href="mailto:besluitvorming.an@antwerpen.be?subject=Lezen besluiten&body=Goede Dag,%0D%0A%0D%0AIk wil deze besluiten lezen, maar de link werkt helaas niet. Hoe kan ik het lezen?%0D%0A%0D%0A{{decision.groupName}}: {{decision.offTitle}}%0D%0A%0D%0ADank u,">
            Vraag volledige tekst</a> 
      </p>

      <div *ngIf="decision.financialStakeholders">
          <h3>Belanghebbenden</h3>
        <ul>
          <li *ngFor="let stakeHolder of decision.financialStakeholders">
              {{stakeHolder.Name}}, {{stakeHolder.JuridicalForm}} <a href="https://openthebox.be/company/{{stakeHolder.VAT}}" target="_blank"> <mat-icon> scatter_plot</mat-icon> </a> {{stakeHolder.Amount}} €
          </li>
        </ul>
      </div>

      <div *ngIf="decision.argumentation" [innerHTML]="decision.argumentation"></div>

      <!-- <div *ngIf="decision.decision" >

          <h3>Besluit</h3>
          <div *ngIf="decision.decision?.text">
              <p>{{decision.decision.text}}</p>
          </div>
          
          <div *ngIf="decision.decision?.headings">
            <div *ngFor="let h of decision.decision.headings">
              <h4>{{h.name}}</h4>
              <p>{{h.text}}</p>
            </div>
          </div>
          
      </div> -->
      

      <div *ngIf="decision.addenda">
          <h3>Bijlagen</h3>
        <ul>
          <li *ngFor="let addendum of decision.addenda">
            {{addendum}} <a href="mailto:besluitvorming.an@antwerpen.be?subject=Lezen besluiten&body=Goede Dag,%0D%0A%0D%0AIk wil deze bijlagen lezen, maar de link werkt helaas niet. Hoe kan ik het lezen?%0D%0A%0D%0A
            {{addendum}} %0D%0A%0D%0A Besluit: {{decision.offTitle}}%0D%0A%0D%0ADank u,">Vraag bijlage</a> 
          </li>
        </ul>
      </div>

      <div *ngIf="decision.assocDocs">
          <h3>Gerelateerde besluiten</h3>
        <ul>
          <li *ngFor="let assocDoc of decision.assocDocs">
            {{assocDoc}}
          </li>
        </ul>
      </div>
      
    
    </ng-container>

    
  </div> 

</ng-container>



<mat-menu #otherDecisions="matMenu">

    <ng-template matMenuContent let-decisions="decisions">
  
      <p style=" padding-left: 0.5em; padding-right: 0.5em;">{{decisions?.length && decisions.length - 1}} meer besluiten{{decisions?.length > 2 ? 's' : ''}} op deze locatie:</p>
  
      <ng-container *ngFor="let item of decisions">
  
        <ng-container *ngIf="item.id !== decision.id">
  
          <button mat-menu-item
                  (click)="setDecision(item)">
  
            {{item.date | date}} {{item.title}}
  
          </button>
  
        </ng-container>
  
      </ng-container>
  
    </ng-template>
  
  </mat-menu>
  
