.mat-dialog-container{
  
}

app-street-view {
  ::ng-deep {
    #street-view-pano {
      height: 50vh;
    }
  }
}

.close-button {
  float: right;
}

.more-info-url {
  i {
    vertical-align: middle;
  }
}
